<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Heart</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Heart is a bot for the platform Discord with love, fun, currency, utility, meme, and moderation commands!">
        <meta name="keywords" content="Heart, Heart Bot Discord, Discord Bot">
        
        <link rel="stylesheet" href="http://localhost:3000/CSS/Core.css">
        <link rel="stylesheet" href="http://localhost:3000/CSS/Modals.css">
        <link rel="icon" type="image/png" href="http://localhost:3000/Images/Logo.png">
        
        <noscript>
            <style>
                .simplebar-content-wrapper {
                    overflow: auto !important;
                }

                #Loading_Screen {
                    display: none;
                }

                #Page_Content {
                    display: block;
                }
            </style>
        </noscript>
    </head>

    <body data-simplebar>
        <%- include("../Components/Loading_Screen") -%>

        <div id="Page_Content" style="display: none;">
            <%- include("../Components/Scripts/Core_Preload") -%>

            <section class="Landing">
                <div class="Center_Container">
                    <div class="Section_Container">
                        <p class="Title Margin">Welcome, <%= Username %></p>
                        <p class="Title_Under">You can now close this window.</p>
                    </div>
                </div>

                <div class="Background"></div>
            </section>
        </div>
        
        <%- include("../Components/Scripts/Core") -%>
    </body>
</html>