<div id="Cookie_Banner" class="Page_Center_Align">
    <div class="Inner_Container">
        <p class="Info">We use cookies to give you the best experience on our site.</p>
        <button id="Cookie_Banner_Close" class="Meta_Button Black Small_Padding">OK</button>
    </div>
</div>