<div class="Bot_Advertisement">
    <p class="Label Text_Effects Slight_Glow">Add Heart to your server and build the best server with in minutes of adding.</p>

    <div class="Buttons">
        <a class="Meta_Button Red" href="https://discord.com/api/oauth2/authorize?client_id=811107146732273674&permissions=8&scope=bot">Add Now</a>
    </div>
</div>

<div class="Bot_Advertisement_Component_Divider"></div>