<div class="Bot_Advertisement">
    <div class="Header">
        <p class="Title Text_Effects Slight_Glow">Ready to add Heart to your server?</p>
        <p class="Label">still not convinced? Then check out all the <a href="http://localhost:3000/features">features</a> and <a href="http://localhost:3000/commands">commands</a>!</p>
    </div>

    <div class="Buttons">
        <a class="Meta_Button Red" href="https://discord.com/api/oauth2/authorize?client_id=811107146732273674&permissions=8&scope=bot">Add Now</a>
    </div>
</div>