<footer>
    <div class="Footer Page_Center_Align">
        <div class="Left_Container">
            <div class="Bot">
                <img class="Logo" id="Footer_Logo" src="http://localhost:3000/Images/Logo.png" draggable="false" alt="Logo">

                <div>
                    <p class="Title Text_Effects Slight_Glow">Heart</p>
                    <p class="Title_Under">The multi-purpose discord bot for your server.</p>
                </div>
            </div>

            <p class="Label">&#169; 2021 <a href="https://developer-lanred.eu.org">Lanred</a> & <a href="https://tylermwise.com">TylerMWise</a></p>
        </div>

        <div class="Columns">
            <div class="Column">
                <p class="Title">Heart</p>

                <div class="Content">
                    <div class="Link_Container"><a class="Link" href="index.html">Help</a></div>
                    <div class="Link_Container"><a class="Link" href="index.html">Commands</a></div>
                    <div class="Link_Container"><a class="Link" href="index.html">Support</a></div>
                    <div class="Link_Container"><a class="Link" href="index.html">Credits</a></div>
                </div>
            </div>

            <div class="Column">
                <p class="Title">Social</p>

                <div class="Content">
                    <div class="Link_Container"><a class="Link" href="index.html">Twitter</a></div>
                    <div class="Link_Container"><a class="Link" href="index.html">Discord</a></div>
                </div>
            </div>

            <div class="Column">
                <p class="Title">Legal</p>

                <div class="Content">
                    <div class="Link_Container"><a class="Link" href="index.html">Contact</a></div>
                    <div class="Link_Container"><a class="Link" href="index.html">Terms of use</a></div>
                    <div class="Link_Container"><a class="Link" href="index.html">Positions</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>