<div class="Popout_Modals">
    <div id="Announcement_Modal" class="Modal">
        <div class="Content Modal_Item">
            <div class="Header Modal_Item">
                <h2 class="Title">Announcement</h2>
            </div>

            <div class="Body Modal_Item" data-simplebar>
                
            </div>
        </div>
    </div>

    <div id="Spacebar_Modal" class="Modal">
        <div class="Content Modal_Item" id="Super_Secret_Hidden_Spacebar_Game_Modal_Content">
            <div class="Header Modal_Item">
                <h2 class="Title">Mr. <kbd>Spacebar</kbd></h2>
            </div>

            <div class="Body Modal_Item">
                <div id="Super_Secret_Hidden_Spacebar_Game" class="Game_Container" style="display: none;">
                    <div class="Timer_Container" id="Super_Secret_Hidden_Spacebar_Game_Timer_Container">
                        <p class="Title" id="Super_Secret_Hidden_Spacebar_Game_Start_Timer">0</p>
                    </div>

                    <div class="Main_Game_Container" id="Super_Secret_Hidden_Spacebar_Game_Main_Game_Container">
                        <div class="Header">
                            <p class="Title" id="Super_Secret_Hidden_Space_Bar_Game_Score">0</p>
                            <p class="Description" id="Super_Secret_Hidden_Spacebar_Game_Game_Timer">0 seconds reaming</p>
                        </div>

                        <kbd class="Key" id="Super_Secret_Hidden_Spacebar_Game_Spacebar_Key">Spacebar</kbd>
                    </div>
                </div>

                <div id="Super_Secret_Hidden_Spacebar_Game_Menu" class="Menu_Container">
                    <div class="Header">
                        <p class="Title">Your score was <span id="Super_Secret_Hidden_Spacebar_Game_Last_Game_Score">0</span></p>
                        <p class="Description">Your high score is <span id="Super_Secret_Hidden_Spacebar_Game_High_Score">0</span></p>
                    </div>

                    <button class="Meta_Button Black Small_Padding" id="Super_Secret_Hidden_Spacebar_Game_Start_Button">Play</button>
                </div>
            </div>
        </div>
    </div>
</div>