<navbar>
    <div class="Topbar_Container">
        <div class="Latest_Announcement Main_Item_Container" id="Latest_Announcement">
            <div class="Content Announcement Cover_Whole Page_Center_Align">
                <div class="Left_Container">
                    <p class="Announcement_Content" id="Latest_Announcement_Content"></p>
                </div>

                <div class="Content">
                    <div class="Buttons">
                        <button id="Latest_Announcement_Close_Button">X</button>
                    </div>
                </div>
            </div>

            <div class="Background Cover_Whole">
                <div class="Content Background"></div>
            </div>
        </div>

        <div class="Navbar Main_Item_Container" id="Navbar">
            <div class="Content Navbar Cover_Whole Page_Center_Align">
                <div class="Left_Container">
                    <img class="Logo" src="http://localhost:3000/Images/Logo.png" draggable="false" alt="Logo">

                    <p class="Title Text_Effects Slight_Glow">Heart</p>
                </div>

                <div class="Content">
                    <ul class="List Responsive">
                        <span class="List_Item Dropdown">Help</span>
                        <span class="List_Item Dropdown">
                            <p class="Dropdown_Toggle">Features</p>

                            <div class="Dropdown_Menu Content">
                                <a href="index.html" class="Item">Currency System</a>
                                <a href="index.html" class="Item">Level System</a>
                                <a href="index.html" class="Item">Moderation Commands</a>
                                <a href="index.html" class="Item">Welcome Messages</a>
                                <a href="index.html" class="Item">Social Announcements</a>
                                <a href="index.html" class="Item">Fun & Love Commands</a>
                            </div>
                        </span>

                        <a class="List_Item" href="mailto:contact_heart@gmail.com">Contact</a>
                        <a class="List_Item">Support</a>

                        <div class="Account_Details">
                            <div id="Navbar_Account_Details" data-user_details=<%= User %>>
                                <img id="Navbar_Account_Details_Icon">
                                <p id="Navbar_Account_Details_Username">User Name</p>
                            </div>

                            <a class="Meta_Button Black Small_Padding" id="Navbar_Login_Button" onclick="window.open('http://localhost:3000/login', '_blank', 'height=700, width=550, scrollbars=yes');">Login</a>
                        </div>
                    </ul>
                </div>
            </div>

            <div class="Background Cover_Whole">
                <div class="Content Background"></div>
            </div>
        </div>
    </div>
</navbar>

<script type="text/javascript" src="http://localhost:3000/JS/Account_Handler.js"></script>