<navbar>
    <div class="Topbar_Container">
        <div class="Latest_Announcement Main_Item_Container" id="Latest_Announcement">
            <div class="Content Announcement Cover_Whole Page_Center_Align">
                <div class="Left_Container">
                    <p class="Announcement_Content" id="Latest_Announcement_Content"></p>
                </div>

                <div class="Content">
                    <div class="Buttons">
                        <button id="Latest_Announcement_Close_Button">X</button>
                    </div>
                </div>
            </div>

            <div class="Background Cover_Whole">
                <div class="Content Background"></div>
            </div>
        </div>

        <div class="Navbar Main_Item_Container" id="Navbar">
            <div class="Content Navbar Cover_Whole Page_Center_Align">
                <div class="Left_Container">
                    <img class="Logo" src="Images/Logo.png" draggable="false" alt="Logo">

                    <p class="Title Text_Effects Slight_Glow">Heart</p>
                </div>

                <div class="Content">
                    <ul class="List Responsive">
                        <span class="List_Item Dropdown">Help</span>
                        <span class="List_Item Dropdown">
                            <p class="Dropdown_Toggle">Features</p>

                            <div class="Dropdown_Menu Content">
                                <a href="index.html" class="Item">Currency System</a>
                                <a href="index.html" class="Item">Level System</a>
                                <a href="index.html" class="Item">Moderation Commands</a>
                                <a href="index.html" class="Item">Welcome Messages</a>
                                <a href="index.html" class="Item">Social Announcements</a>
                                <a href="index.html" class="Item">Fun & Love Commands</a>
                            </div>
                        </span>
                        <a class="List_Item">Contact</a>
                        <a class="List_Item" href="https://discord.com/api/oauth2/authorize?client_id=811107146732273674&permissions=8&scope=bot">Invite</a>
                    </ul>
                </div>
            </div>

            <div class="Background Cover_Whole">
                <div class="Content Background"></div>
            </div>
        </div>
    </div>
</navbar>